<!DOCTYPE html>
<html>
  <head>
    <title>Wish upon a Clover</title>


    <meta name="description" content="Granting wishes to everyone, one Four Leafed Clover at a time" />

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Wish upon a Clover"/>
    <meta property="og:type" content="website" />
    <meta property="og:image" content="<%= image_path('four_leaf.png') %>"
    />
    <meta property="og:description" content="No wish too big or small, as long as you can find the four leaf"
    />
    <meta property="og:site_name" content="Wish upon a Clover" />


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('four_leaf.png') %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
